body {
    font-family: Microsoft Yahei;
    font-style: normal;
    position: relative;
    background: #fff;
}
.header {
    background: #353b5e;
    color: #fff;
    padding: 10px 15px;
    border-bottom: 2px solid #f3f5f7;
}
.header-main {
    width: 80%;
    margin: 0 auto;
}
.container {
    width: 80%;
    background: #fff;
}
.none {
    display: none !important;
}
.fl {
    float: left;
}
.fr {
    float: right;
}
.one-row {
    display: block;
    width:100%;
}
.identify {
    font-size: 16px;
    display: inline-block;
    line-height: 30px;
}
.identify span {
    font-weight: bold;
}
.split {
    font-size: 16px;
    display: inline-block;
    line-height: 30px;
    padding-left: 4px;
    padding-right: 4px;
}
.white-on-green {
    color: #fff;
    background: #88c92d;
}
.logout {
    display: inline-block;
    font-size: 16px;
    width: 30px;
    height: 30px;
    line-height: 30px;
    border-radius: 30px;
    text-align: center;
    cursor: pointer;
}
h2 span {
    font-size: 14px;
}
ul {
    list-style: none;
    padding: 0;
}
ul li {
    float: left;
    margin-right: 20px;
    font-size: 16px;
    font-weight: bold;
    color: #a9b0b6;
    cursor: pointer;
}
ul li.active {
    border-bottom: 3px solid #56cbca;
}
ul li:hover {
    border-bottom: 3px solid #56cbca;
}
.clear {
    clear: both;
}
.fill-section-header {
    font-weight: bold;
    padding: 8px 0;
}
input[type="radio"] {
    cursor: pointer;
}
#media-manage form img, #topic-manage form img {
    width:  60px;
    height: 60px;
    border-radius: 30px;
}
#media-manage input[type="file"], #topic-manage input[type="file"] {
    width: 180px;
}
button.upload-file-btn {
    line-height: 28px;
    font-size: 14px;
    padding-top: 0;
    padding-bottom: 0;
}
.more{
    position: relative;
    top: -12px; /* closer to table */
    margin-left: 2px;
    font-size: 13px;
    height: 20px;
    line-height: 20px;
    width: 20px;
    border-radius: 20px;
    text-align: center;
    cursor: pointer;
}
.article-img {
    height: 150px;
}
.article-img-wrapper{
    margin-top: 5px; margin-bottom: 8px;
}
#edit-article-submit {
    margin-top: 10px;
}
.header-section {
    margin: 10px 0 10px;
    border-bottom: 1px solid #eee;
}
.header-section #back-to-articles {
    line-height: 37px;
    display: inline-block;
    padding-top: 10px;
}
#admin-panel .form-group {
    width: 70%;
}
#edit-article-submit {
    margin-bottom: 15px;
}
tbody tr td.del, tbody tr td.edit-or-del {
    border: none;
    border-right: solid 1px #fff;
    border-bottom: solid 1px #fff;
    background: #fff;
}
tbody tr td.del .glyphicon, tbody tr td.edit-or-del .glyphicon {
    display: inline-block;
    line-height: 34px;
    width: 24px;
    cursor: pointer;
}
input[type="file"] {
    display: inline-block;
    margin-left: 16px;
}
.header-title {
    font-size: 26px;
    font-weight: bold;
    margin: 10px 0;
}
.shadow {
    display: none;
}
.shadow.active {
    display: block;
}
.tab-items li {
    padding: 0 2px;
}
.tab-items a {
    text-decoration: none;
    display: inline-block;
    padding: 6px;
    color: #a9b0b6;
}